:root {
    --bg-color: #b2b2b4;
    --inverted-bg-color: #1f1f25;
    --primary-color: #4444ec;
    --secondary-color: #020298;
    --inverted-primary-color: #00fc00;
    --inverted-secondary-color: #049604;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d1d1d7;

    // listBox
    --listbox-bg: #d1d1d7;
}
