:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0d0d50;
    --primary-color: #073ad0;
    --secondary-color: #0449e0;
    --inverted-primary-color: #00fc00;
    --inverted-secondary-color: #049604;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
