.app_purple_theme {
    --bg-color: #000001;
    --inverted-bg-color: #5f03f6;
    --primary-color: #f4bbfd;
    --secondary-color: #c7a5f8;
    --inverted-primary-color: #f8f4fb;
    --inverted-secondary-color: #f0d6ff;
}
