.app_purple_theme {
    --bg-color: #171718;
    --inverted-bg-color: #5f03f6;
    --primary-color: #f4bbfd;
    --secondary-color: #8c66f3;
    --inverted-primary-color: #cda4f6;
    --inverted-secondary-color: #f0d6ff;

    // skeleton
    --skeleton-color: #5f03f6;
    --skeleton-shadow: rgb(199 165 248);

    // code
    --code-bg: #414144;

    // card
    --card-bg: #313133;

    // listBox
    --listbox-bg: #313133;
}
